[Desktop Entry]
Type=Application
Name=LemonCraft
Comment=LemonCraft is a multiplayer voxel RPG written in Rust
Comment[de]=LemonCraft ist ein in Rust geschriebenes Mehrspieler Voxel RPG
Exec=lemoncraft-voxygen
Categories=Game;Simulation;
Keywords=lemoncraft;sandbox;world;blocks;nodes;multiplayer;roleplaying;
Icon=net.lemoncraft.lemoncraft
Terminal=false
StartupWMClass=lemoncraft
